{% extends "layout2.html" %}

{% block content %}
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
{% endblock content %}

{% block analytical %}

<div class="links">
  <nav>
    <ul>
       <li> <a href=" {{ url_for('analytical') }} ">Analytical Articles</a> </li>
       <li> <a href=" {{ url_for('solved1') }} ">1) Issue-Solved Questions</a> </li>
       <li> <a href=" {{ url_for('solved2') }} ">2) argument-Solved Questions</a> </li>
       <li> <a href=" {{ url_for('sample1') }} ">practice Questions</a> </li>
    </ul>
  </nav>
</div>

<div class="testimonial-section">
    <div class="inner-width">
      <h1><ins>Solved Question-{{topic}}</ins></h1><br>
       <p class="question">{{ question[0] |safe }} </p>
      <div class="border"></div>
      <p class="swipe"><ins> swipe the articles >>> </ins> </p>


      <div class="slides owl-carousel">
        {% for heading,answer in headings_answers %}
        <div class="testimonial">
          <div class="test-info">
            <img class="test-pic" src=" {{ url_for('static', filename='logo.png') }} " alt="">
            <div class="test-name">
              <span>{{ heading |safe }}</span>
              @response{{loop.index }}
            </div>
          </div>

          <p>
            {{ answer |safe }}
             <br> <br> <hr size="4px" color="black">
          </p>
        </div>
        {% endfor %}  

        
      </div>
    </div>
  </div>

<script type="text/javascript">
$(".owl-carousel").owlCarousel({
margin:10,
responsiveClass:true,
responsive:{
0:{
items:1
},
680:{
items:1
},
960:{
items:1
}
}
});
</script>

{% endblock analytical %}